[submodule "game"]
	path = game
	url = https://github.com/sunniesnow/sunniesnow
[submodule "maker"]
	path = maker
	url = https://github.com/sunniesnow/sunniesnow-maker
[submodule "doc/sscharter"]
	path = doc/sscharter
	url = https://github.com/sunniesnow/sscharter
[submodule "game-unstable"]
	path = game-unstable
	url = https://github.com/sunniesnow/sunniesnow.git
