[ req ]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name  = dn

[ dn ]
CN = sunniesnow.github.io

[ req_ext ]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = sunniesnow.github.io
DNS.2 = localhost
DNS.3 = jekyll.local
IP.1 = 127.0.0.1
IP.2 = 0.0.0.0
