<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="{{ site.theme_color }}" />
		{% if page.math %}
			<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
		{% endif %}
		{% if page.head %}
			{% include_relative {{ page.head }} %}
		{% endif %}
		<title>{{ page.title }}</title>
		{% seo title=false %}
	</head>
	<body>
		{{ content }}
	</body>
</html>
